@charset "utf-8";
/* CSS Document */

/*navbar*/
.navbar {
	background-color: #E083ED;
}


/*jumbotrom logo*/
.jumbotrom {
	background-color: #046A75;
	height: 300px;
}

#logo {
	margin-right: 45%;
	margin-left: 45%;
	padding-top: 80px;
}


/* sobre mim*/
#sobremim {
	padding-left: 15%;
	padding-right: 15%;
}

#titulo-sobremim {
	color: #E083ED;
}

#texto-sobremim {
	text-align: justify;
}

#img-sobremim {
	margin-top: 50px;
}


/*Portfolio*/
#titulo-portfolio {
	color: #E083ED;	
}


/*Depoimentos*/
#depoimentos {
	color: #046A75;
}

#meusclientes {
	color: #E083ED;
}

/*contato*/
#contato {
	background-color: #E9B6F2;
	padding-top: 20px;
	padding-bottom: 20px;
}

/*rodape*/
#rodape {
	background-color: #046A75;
	padding-top: 25px;
	padding-bottom: 25px;
}